<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148703276362-tp1ejeohlmiuuao9ned5qjqj6ml4cs71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148703276362-tp1ejeohlmiuuao9ned5qjqj6ml4cs71</string>
	<key>API_KEY</key>
	<string>AIzaSyAncakZ4f0JZJYjY3wBtsBbtLcNe5XdG3c</string>
	<key>GCM_SENDER_ID</key>
	<string>148703276362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ismailackyurek.HizliGeliyoCase</string>
	<key>PROJECT_ID</key>
	<string>hizligeliyo-b6c9f</string>
	<key>STORAGE_BUCKET</key>
	<string>hizligeliyo-b6c9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148703276362:ios:402768a33c38a912fca5b3</string>
</dict>
</plist>